@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#444;
  background:#fefefe;
}

p { margin: 3px; }

.TableHeadingColor     { background: #efefef }
.TableSubHeadingColor  { background: #EEEEFF }
.TableRowColor         { background: #FFFFFF }

.NavBarCell1    { background-color:#efefef;}
.NavBarCell1Rev { background-color:#3f3f3f; padding-left: 5px; }
.NavBarFont1    { font-family: 'Open Sans', 'Helvetica Neue', sans-serif; color:#000000;}
.NavBarFont1Rev { font-family: 'Open Sans', 'Helvetica Neue', sans-serif; color:#FFFFFF;}

.NavBarCell2    { font-family: 'Open Sans', 'Helvetica Neue', sans-serif; background-color:#FFFFFF;}
.NavBarCell3    { font-family: 'Open Sans', 'Helvetica Neue', sans-serif; background-color:#FFFFFF;}

.FrameTitleFont   { font-size: normal; font-family: 'Open Sans', 'Helvetica Neue', sans-serif; }
.FrameHeadingFont { font-size: normal; font-family: 'Open Sans', 'Helvetica Neue', sans-serif; }
.FrameItemFont    { font-size: normal; font-family: 'Open Sans', 'Helvetica Neue', sans-serif; }

div.code span.elem { color: darkred; }
div.code span.attr { color: red; }
div.code span.cont { color: black; }
div.code span.oper { color: blue; }
div.code span.comm { color: grey; }
div.code span.cdat { color: black; }
div.code span.proc { color: lightseagreen; }
div.code span.doct { color: dark-blue; }
div.code span.anno { color: #888888; }

div.hierar { margin-left: 1em; text-indent: 0em; border-style:solid; border-width:1px; border-color: #D0D0D0;}
ul { margin-top: 0px; margin-bottom: 0px; }
li { margin-top: 0px; margin-bottom: 0px; }

dt { font-weight: bold; }

.anno { color: #888888; }
.smal { font-size: 60%; font-weight: bold; }

table {
  border-color: #ddd;
  overflow: hidden;
}

a{ color: #1864e0; text-decoration:none;}
a:hover{ color: #126cff }
a:focus{ outline: thin dotted; }
a:hover, a:active{ outline: 0; }

/* hide footer with missleading links */
body > table + hr + font[size="-1"]:last-child{ display:none; }
