<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>numbers-trunk-20080702_1</string>
	<string>numbers-trunk-20080731_1</string>
	<string>numbers-trunk-20080801_2</string>
	<string>numbers-trunk-20080909_1</string>
	<string>numbers-trunk-20080911_1</string>
	<string>numbers-trunk-20080926_1</string>
	<string>numbers-trunk-20081016_1</string>
	<string>local build-Oct 16 2012</string>
	<string>M3.2-1861-1</string>
</array>
</plist>
